*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.parallax{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    position:relative;
   width: 85%;
   margin: auto;
   padding: 35px 0; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15PX 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
background: #009688;
height: 100%;
width: 0;
border-radius: 25px;
position: absolute;
left: 0;
bottom: 0;
z-index: -1;
transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.about{
    width: 100%;
    text-align:center;
}
.aboutbackground {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background1.jpg);
    background-size: cover;
    background-position: center;
}
.about h2{
    text-align: left;
    color: #fff;
    font-size: 45px;
    
}
.about img{
    position: relative;
    width: 20rem;
    height: 28rem
    
}
.projects{
    margin:auto;
    padding: 0;
    text-align: center;
}
.projectbackground{
    background-image: linear-gradient(rgba(0,0,0.75),rgba(0,0,0.75));
}

.subsection{
    height:100vh;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    height: 100%;
  }
  .card {
    position: relative;
    height: 28rem;
    width: 20rem;
    aspect-ratio: 5/7;
    color: #ffffff;
    perspective: 50rem;
  }
  .card .shadow {
    position: absolute;
    inset: 0;
    background: var(--url);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    filter: blur(2rem) saturate(0.9);
    box-shadow: 0 -1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.7);
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 2rem, -2rem);
  }
  .card .image {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 40%), var(--url);
    background-size: cover;
    background-position: center;
    -webkit-mask-image: var(--url);
            mask-image: var(--url);
    -webkit-mask-size: cover;
            mask-size: cover;
    -webkit-mask-position: center;
            mask-position: center;
  }
  .card .image.background {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 0rem);
  }
  .card .image.cutout {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 4rem) scale(0.92);
    z-index: 3;
  }
  .card .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    inset: 0;
    padding: 3.5rem;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 6rem);
    z-index: 4;
  }
  .card::after, .card::before {
    content: "";
    position: absolute;
    inset: 1.5rem;
    border: #e2c044 0.5rem solid;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 2rem);
  }
  .card::before {
    z-index: 4;
  }
  .card.border-left-behind::before {
    border-left: transparent;
  }
  .card.border-right-behind::before {
    border-right: transparent;
  }
  .card.border-bottom-behind::before {
    border-bottom: transparent;
  }
  
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  }
  p {
    font-weight: 300;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  }
.contact{
    margin:auto;
    padding: 0;
    text-align: center;
}
.contact-background {
    width: auto;
    height: 100vh;
    background-color:rgba(0,0,0,0.75);
}
footer{
    display: block;
    text-align: center;
    padding: 3px;
    color:#fff;
    font-size: 13px;
    background-color:dimgray;
}
.footer a{
    color: black;
}